<div class="container">
    <div class="row">
        <div class=" about-content animated fadeIn scrollable" >
            <h1 class="animated fadeIn one">about</h1>
            <div class="about-me" >
                <div class="animated fadeIn two">
                    <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of type and scrambled it to make a type specimen book. But also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
                <div class="Synopsis-highlightLine five" ></div>
                <div class="animated fadeIn three">
                    <p class="Synopsis-highlight">Cinnamon eu so, cultivar sweet crema java blue mountain iced cappuccino acerbic flavour. Con panna, dark coffee coffee crema cortado, carajillo sugar wings robust coffee. Spoon, iced organic, medium, acerbic dripper pumpkin spice robust black single origin. Qui americano coffee milk lungo crema dripper. Grinder plunger pot est percolator medium shop latte foam crema café au lait wings.</p>
                </div>
                <div class="Synopsis-highlightLine five"></div>
                <div class="animated fadeIn four">
                    <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of type and scrambled it to make a type specimen book. But also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of type and scrambled it to make a type specimen book. But also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of type and scrambled it to make a type specimen book. But also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <p>It has survived not only five centuries, but also the leap into electronic.</p>
                </div>
            </div>
        </div>
     
        <div class=" about-panel animated fadeIn">
        <div class="perspective-container">
            <div class="zero photo-about animated fadeIn">
                <div class="hide-photo-filter animated fadeIn"></div>
                <div class="about-info">
                    <h3 class="about-info-name animated fadeInUp up-one">SHOPIFY E-COMMERCE</h3>
                    <div class="about-info-contact">
                        <h4 class="animated fadeInUp up-two">
                        Get answers to all your questions about our online service here
                        </h4>
                        <p class="animated fadeInUp up-three">4456 New Avenue, New York City, NY</p>
                        <a href="" class="animated fadeInUp up-four">shopify@myemail.com</a>
                    </div>
                </div>
            </div>
        </div>
     </div>
     </div>
    </div>

