<div id="header-hero">
    <div class="header-bg"> <img
            src="https://img.itinari.com/pages/images/original/a92b0318-ed91-441b-8b0a-051f13ab8ec5-istock-957125704.jpg?ch=DPR&dpr=1&w=1600&s=ec6fdbbc6a9aa53b6b300c0b9fdd4fdc"
            alt="header-image" /> </div>
    <div class="header-content">
        <p class="heading-1">Collection 2020</p>
        <h1>Wellcome to SHOPIFY </h1>
        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is
            simply dummy text of the printing and typesetting industry.</p>
        <div class="button">
            <p routerLink='product/products'>shop now </p>
        </div>
    </div>
</div>
<section id="summer-collection">
    <div class="container">
        <div class="sc-content">
            <h1>our new collection is here</h1>
            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It
                has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <a routerLink="/product/products">discover now</a> </div>
        <div class="sc-media">
            <div class="sc-media-bg"> <img src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412556/E-commerce%20landing%20page/summer-collection/cold-fashion-man-women_3x.jpg" alt="sc-image" /> </div>
        </div>
    </div>
</section>