<div *ngIf="selectedProduct">
<div id="content">
    <div id="picture">
        <img class="img" alt="img"
            src={{selectedProduct.imageUrl}}>
    </div>
    <div id="information">
        <div id="title" class="titleBorder titleSpace">
            <h3>{{selectedProduct.title}}</h3>
        </div>
        <div id="price" class="titleBorder priceNumber">
        <b>{{selectedProduct.price}} $</b>
        </div>
        <div id="discription" class="lightFont textFormat">
            <p>
               {{selectedProduct.description}}
            </p>
        </div>
        <div>
            <button id="addToCartButton" class="addButton" (click)="add(selectedProduct)">ADD TO CART</button>
        </div>
    </div>
</div>
</div>
