<footer class="footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="credits">
                <span class="copyright">
                    © {{test | date: 'yyyy'}} Shopify
                </span>
            </div>
        </div>
    </div>
</footer>

<div class="back-to-top"><a href="#nav"> <img title="Back to Top." src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412541/E-commerce%20landing%20page/icons/back_-_top_1x.png" alt="back to top"></a> </div>